.galery {
  background-image: linear-gradient(rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.856));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.galery__title {
  color: var(--secondary);
  font-family: var(--marka);
  font-weight: lighter;
  font-size: 4rem;
}

.galery__text {
  color: white;
  font-family: var(--inria);
}
