.frontpage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.5)),
    url(./portada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  padding: 0 1rem;
  padding-top: 7rem;
  flex-wrap: wrap;
}

.frontpage__text {
  display: flex;
  row-gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--inria);
}

.front__text {
  color: white;
  max-width: 42ch;
}

.front__title {
  color: var(--secondary);
}

.front__btn {
  padding: 0.5rem;
  width: 10rem;
  font-family: var(--marka);
  background-color: var(--secondary);
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.frontpage__rrss {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .frontpage__text {
    display: flex;
    flex-direction: column;
    margin-left: 49px;
    align-items: start;
    gap: 1.5rem;
  }

  .front__text {
    font-size: 1rem;
  }

  .front__title {
    font-size: 3rem;
    width: 20rem;
  }

  .frontpage__rrss-alternative {
    flex-direction: column;
  }

  .cnt {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .frontpage {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3rem;
  }

  .frontpage__text {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .frontpage__rrss-alternative {
    flex-direction: row;
  }
}
