.footer {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  border-bottom: 2px solid white;
  padding: 1rem;
}

.rs__icon {
  width: 3rem;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    border-bottom: 0px solid white;
    border-right: 2px solid white;
    padding: 0 1rem;
  }

  .footer__rrss {
  }
}
